.dropdown-input {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-label {
  font-weight: bold;
  font-size: 24px;
  font-weight: 700;
  background-color: #ededed;
  padding: 8px 16px;
  border-radius: 10px;
}

.dropdown-select {
  background-color: #fafbfd;
  padding: 16px;
  border-radius: 10px;
  border: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.dropdown-select:focus {
  outline: none;
}

.dropdown-icon:hover {
  cursor: pointer;
}
