/* * {
  border: 1px solid red;
} */

.transfer-page {
  background-color: #f7f9fb;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.transfer-card {
  background: white;
  margin: 0 auto;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.transfer-to {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-label {
  font-weight: bold;
  font-size: 24px;
  font-weight: 700;
  background-color: #ededed;
  padding: 8px 16px;
  border-radius: 10px;
}

.recipient {
  background-color: #fafbfd;
  padding: 16px;
  border-radius: 0px 12px 12px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.dropdown:hover {
  cursor: pointer;
}

.transfer-amount {
  margin-bottom: 24px;
  background-color: #fafbfd;
  padding: 16px;
  border-radius: 10px;
}

.amount-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.transfer-amount input {
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  outline: none;
  background: transparent;
}

.balance {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}

.balance span {
  color: #00aa7f;
  font-weight: bold;
}

.transfer-note {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafbfd;
  padding: 8px;
  border-radius: 10px;
}

.note-label {
  font-weight: bold;
  padding-left: 16px;
}

.transfer-note input {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #fafbfd;
}

.transfer-btn {
  width: 100%;
  background-color: #0061ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.transfer-btn:hover {
  background-color: #004ecb;
}
